/* Coolors Exported Palette - coolors.co/ff0000-337ca0-3ec300-fffc31-e13700 */


/* RGB */
$color-primary: rgba(255, 0, 0, 1);
$color-secondary: rgba(51, 124, 160, 1);
$color-accent: rgba(62, 195, 0, 1);
$color-extra: rgba(255, 252, 49, 1);
$color-primary-darkest: rgba(225, 55, 0, 1);

/* RGB */
$color-dark: rgba(25, 25, 25, 1);
$color-light: rgba(238, 240, 235, 1);
$color-white: rgba(244, 249, 233, 1);
$color-grey: rgba(180, 184, 171, 1);
$color-blue: rgba(40, 75, 99, 1);

/* BREAKPOINTS */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl:1200px;

/* SOCIAL COLORS */
$social-colors: (facebook: #3B5998,
    twitter: #00ACED,
    youtube: #FF0000,
    allegro: #FE5A01);

@each $site,
$color in $social-colors {
    .--#{$site} {
        background-color: $color;

    }
}

/* BTN LINK */
@mixin btn-link() {
    display: block;
    color: $color-light;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.4rem 1rem;
}