@import 'variables';

//temporary styles
.--disabled {
    pointer-events: none;
    cursor: default;
}

.navigation {
    // background-color: $color-blue;
    text-align: center;
    position: relative;
    width: 100%;
    margin-bottom: 0.1rem;

    .container {
        max-width: 1110px;
        padding-left: 0;
        padding-right: 0;
        background-color: $color-blue;
        margin-left: auto;
        margin-right: auto;
    }

    &__link {
        color: $color-light;
        text-decoration: none;
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        display: block;
        white-space: nowrap;
        transition: color 0.5s ease-in-out, background-color 0.2s ease-in-out;

        &:hover {
            color: $color-light;
            background-color: $color-primary;
        }

        @media (min-width: $md) {
            display: inline-block;
        }
    }
}