@import 'base';
@import 'variables';

html,
body {
    height: 100%;
}

@mixin paddings {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.page {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    @media(min-width:$lg) {
        max-width: 1170px;
    }
}

.navigation {
    width: 100%;
    background-color: lighten($color-dark,5%);
    @include paddings;

    @media(min-width:$md) {

        text-align: right;
    }

    &__link {
        display: block;
        text-decoration: none;
        color: $color-light;
        font-size: 1.6rem;
        padding: 1rem 0rem;
        border-bottom: 1px solid lighten($color-dark, 15%);
        transition: all .3s ease-in-out;
        position: relative;

        @media(min-width:$md) {
            display: inline;
            border-bottom: initial;
            border-right: 1px solid lighten($color-dark, 15%);
            padding: 0rem 1rem;
            font-size: 1.4rem;
        }

        &:last-child {
            border-bottom: initial;

            @media(min-width:$md) {
                border-right: initial;
            }
        }

        &::before {
            display: none;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0.5rem;
            height: 100%;
            background-color: $color-light;
        }

        &:hover {
            background-color: darken($color-secondary, 0%);
            padding-left: 2.5rem;

            @media(min-width:$md) {
                background-color: initial;
                color: darken($color-secondary, 0%);
                padding-left: 1rem;

            }

        }

        &:hover::before {
            display: block;

            @media(min-width:$md) {
                display: none;
            }
        }

    }
}

.header {
    width: 100%;
    // background-color: grey;
    min-height: 300px;
    @include paddings;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &__logo {
        position: absolute;
        left: 1.5rem;
        top: 2.5rem;

    }

    &__title {
        font-size: 5rem;
    }

    &__subtitle {
        font-size: 2rem;
    }
}

.logo {
    max-width: 100px;
    background-color: $color-light;
    padding: 0.5rem;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 2px 0px rgba($color-dark, 0.3);
}

.content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    &__main {
        flex-grow: 1;
        background-color: red;
        @include paddings;
    }

    &__aside {
        background-color: yellow;
        display: none;
        @include paddings;
    }

    @media(min-width:$lg) {
        flex-direction: row;

        &__main {
            flex-basis: 70%;
            background-color: red;
        }

        &__aside {
            flex-basis: 30%;
            background-color: yellow;
            display: block;
        }
    }


}

.footer {
    width: 100%;
    background-color: green;
    @include paddings;
}