@import 'base';
@import 'variables';

html,
body {
    height: 100%;
}

@mixin paddings {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.page {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    @media(min-width:$lg) {
        max-width: 1170px;
    }
}

.header {
    width: 100%;
    background-color: grey;
    min-height: 300px;
    @include paddings;
}

.navigation {
    width: 100%;
    background-color: black;
    color: white;
    @include paddings;
}

.content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    &__main {
        flex-grow: 1;
        background-color: red;
        @include paddings;
    }

    &__aside {
        background-color: yellow;
        display: none;
        @include paddings;
    }

    @media(min-width:$lg) {
        flex-direction: row;

        &__main {
            flex-basis: 70%;
            background-color: red;
        }

        &__aside {
            flex-basis: 30%;
            background-color: yellow;
            display: block;
        }
    }


}

.footer {
    width: 100%;
    background-color: green;
    @include paddings;
}