* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 2.5rem;
  background-color: #e0e0e0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
  box-shadow: 0px 0px 0.4rem 0.1rem rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  padding: 2.5rem;
  /*
     * temporary
     */
}

.header {
  /*
     * component
  */
  height: 800px;
  max-height: 100vh;
}
.header--wrapper {
  background-image: url(../media/images/vendLaundry/bg_fullpage-min.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.header .active {
  padding-left: 2rem;
  transform: scale(1.1);
  border-left: 0.5rem solid #009fe3;
}
.header--navigation {
  position: absolute;
  left: 7.5rem;
  bottom: 15rem;
}
.header .navigation--link {
  display: block;
  color: #ffffff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.header .navigation--link:hover {
  padding-left: 2rem;
  transform: scale(1.1);
  border-left: 0.5rem solid #009fe3;
}
.header--title {
  color: #ffffff;
  font-weight: 500;
  font-size: 3rem;
  text-transform: uppercase;
  position: absolute;
  right: 2.5rem;
  bottom: 20rem;
  max-width: 500px;
}
.header--new-line {
  display: block;
  font-size: 1.5rem;
}
.header--address {
  color: #ffffff;
  position: absolute;
  left: 5rem;
  bottom: 5rem;
}

.highlights {
  color: #009fe3;
}

.address {
  /*
     * component
     */
  font-weight: 300;
  font-size: 1.6rem;
}
.address--name {
  font-size: 1.4rem;
}
.address--web-page {
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translate(-50%, 0);
  color: rgba(255, 255, 255, 0.6);
}

.contact {
  /*
     * component
     */
}
.contact--email-address {
  font-size: 1.5rem;
  color: #009fe3;
  transition: color 0.3s ease-in-out;
}
.contact--email-address:hover {
  color: #ffffff;
}

.web-page {
  /*
     * component
     */
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
  font-weight: 300;
  transition: color 0.3s ease-in-out;
}
.web-page:hover {
  color: #ffffff;
}

.navigation {
  /*
     * component
  */
}
.navigation--list {
  list-style: none;
  font-family: Roboto, sans-serif;
  padding: 0;
}
.navigation--link {
  text-decoration: none;
  font-size: 1.6rem;
}

section {
  margin-top: 2.5rem;
}

/*
* introduction
*/
.introduction {
  /*
     * temporary
     */
  min-height: 500px;
  height: 800px;
}
.introduction--wrapper {
  background-image: url(../media/images/vendLaundry/introduction-min.png), url(../media/images/vendLaundry/introduction_rb-min.png), url(../media/images/vendLaundry/introduction_lb-min.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center top, right bottom, left bottom;
  background-size: contain, 25%, 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 5rem;
}
.introduction--title {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  grid-area: header;
}
.introduction--content {
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: [header-start] auto [header-end] auto [article];
  grid-template-areas: "header header" "article-one article-two";
  grid-column-gap: 2.5rem;
}
.introduction .content--article.__one {
  grid-area: article-one;
}
.introduction .content--article.__two {
  grid-area: article-two;
}

.article {
  /*
  * component
  */
}
.article--title {
  font-size: 2.4rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.description {
  /*
  * component
  */
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.innovating {
  /*
     * temporary
  */
  min-height: 950px;
  height: 1200px;
}
.innovating--wrapper {
  background-image: url(../media/images/vendLaundry/laundromats_bg-min.png), url(../media/images/vendLaundry/laundromats_tr-min.png), url(../media/images/vendLaundry/laundromats_br-min.png), url(../media/images/vendLaundry/laundromats_bl-min.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center center, top right, bottom right, left bottom;
  background-size: contain, 25%, 50px, 50px;
  padding-bottom: 5rem;
}
.innovating--content {
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas: "header header header header";
  grid-column-gap: 2.5rem;
  margin: 0 auto;
}
.innovating--title {
  font-size: 2.4rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-area: header;
}
.innovating--article:nth-child(n+6) {
  align-self: end;
}
.innovating--article .article--footer {
  background-color: #009fe3;
  padding: 1rem 1.5rem;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.1rem;
}
.innovating--article .article--title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.innovating--article .article--description {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

/*# sourceMappingURL=vend-laundries-equipment.css.map */
